@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web-based insurance system</h1>
    <p class="lead">Web-based insurance system Project</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About us</h2>
        <p>
            The insurance companies UNIQA AD and UNIQA Life AD are part of the international UNIQA Insurance Group – a company with over two-time tradition
            experience in insurance. UNIQA Insurance Group AG is one of the leading insurers in its main markets in Austria and Central and
            Eastern Europe. 20,000 employees and exclusive trading partners serve 10.1 million UNICA customers in 18 countries.
        </p>
        <p><a class="btn btn-default" href="https://www.uniqa.bg/za-nas/">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more insurances for you</h2>
        <p>Protect yourself, your family and loved ones, and get the best health care and financial independence in unforeseen situations.</p>
        <p><a class="btn btn-default" href="https://www.uniqa.bg/za-teb/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more insurances for your business</h2>
        <p>
            Conclude an insurance policy with UNIQA and get a comprehensive solution to protect against the risks
            development and success of your company.
        </p>
        <p><a class="btn btn-default" href="https://www.uniqa.bg/za-tvoya-biznes/">Learn more &raquo;</a></p>
    </div>
</div>